
time
tempfile
requests
textwrap
fpdf 
reportlab
streamlit
whisper
openai-whisper
uuid 
langchain_community
langchain_google_genai 
PyPDF2 
shutil
datetime 
warnings
pytube 
 pydub 
yt_dlp
