
fpdf
streamlit
langchain
langchain-google-genai==0.1.2
chromadb
PyPDF2
requests
shutilwhich
openai-whisper
reportlab
tempfile
requests
textwrap
reportlab
whisper
uuid
langchain
langchain_community
shutil
datetime
pytube
pydub
yt-dlp
